.rdb-active
{
	display: block;
}

.form-horizontal .control-label
{
	text-align: left;
	position: relative;
}

.visibleColumn
{
	display: none;
}

#btnEditDependent
{
	display: none;
}

#btnAddDependent
{

}

.column-formated-1 
{
	font-size: 14px !important;
	left: 20%;
	width:40%;
}

.column-formated-2 
{
	font-size: 14px !important;
	text-align: center;
	width:15%;
}

.column-formated-3
{
	font-size: 14px !important;
	width:7%;
} 
