.rdb-active
{
	display: block;
}

.form-horizontal .control-label
{
	text-align: left;
	position: relative;
}

.visibleColumn
{
	display: none;
}

#btnEditDependent
{
	display: none;
}

#btnAddDependent
{

}

.column-formated-1 
{
	font-size: 14px !important;
	left: 20%;
	width:40%;
}

.column-formated-2 
{
	font-size: 14px !important;
	text-align: center;
	width:15%;
}

.column-formated-3
{
	font-size: 14px !important;
	width:7%;
} 

.menu
{
	margin-top:3.7% !important;

}

.container
{
	margin-top:4% !important;
	margin-left:1.1% !important; 
	width:98% !important;
}


.list-group.panel > .list-group-item 
{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color:#e8e8e8;
}

.list-group-submenu 
{
  margin-left:20px;
}

.toTop{
    position: fixed;
    float: left;
    width: 100%;
    margin: 0 auto;
}

.remove-alert
{
	margin-left:100%;
	cursor:pointer;
}

.loading
{
	margin-top: 20%;
}

