.rdb-active
{
	display: block;
}

.form-horizontal .control-label
{
	text-align: left;
	position: relative;
}

.visibleColumn
{
	display: none;
}

#btnEditDependent
{
	display: none;
}

#btnAddDependent
{

}
