h4{
	text-align: center;
	font-weight: bold;
	font-family:monospace; 

}

b{
	text-align: center;
	color:#ffffff;
}

div>a:link {
	text-decoration: none;
}

.thumbnail
{
	margin-top: 50%;
	border: 0px !important;
	background-color: #535353 !important;
}



.row-itens{
	
	background-color:#535353;
	width: 100%;
	
	padding-left: 0.01%;
}

.col-md-1
{
	margin-left: 8% !important;
}


body
{
	width: 100% !important;
}