h4{
	text-align: center;
	font-weight: bold;
	font-family:monospace; 

}

b{
	color:#ffffff;
}

div>a:link {
	text-decoration: none;
}

.thumbnail
{
	border: 0px !important;
	background-color: #535353 !important;
}

.row-itens{
	background-color:#535353;
}
